<template>
    <v-container>
        <v-card>
            <v-tabs
                    dark
                    background-color="teal darken-3"
                    show-arrows fixed-tabs center-active
            >
                <v-tabs-slider color="teal lighten-3"></v-tabs-slider>

                <v-tab
                        v-for="i in 5"
                        :key="i"
                        :href="'#tab-' + i"
                >
                    Item {{ i }}
                </v-tab>
            </v-tabs>
        </v-card>
    </v-container>
</template>
<script>
    export default {}
</script>
<style scoped>
</style>
