<template>
  <v-container>
    <v-row>
      <v-col lg="8" md="8" sm="12" xs="3" class="mx-auto">
        <v-text-field
                v-model="city"
                :label="label"
                :hint="hint"
                :placeholder="placeholder"
                :shaped="shaped"
                :outlined="outlined"
                :rounded="rounded"
                :solo="solo"
                :single-line="singleLine"
                :filled="filled"
                :clearable="clearable"
                :persistent-hint="persistentHint"
                :loading="loading"
                :flat="flat"
                :counter="counterEn ? counter : false"
                :dense="dense"
                @keypress.enter="getWeather()"
        ></v-text-field>
      </v-col>
    </v-row>
<!--    <div class="row justify-content-center">-->
<!--      <ul class="nav nav-pills">-->
<!--        <router-link class="nav-link col" to="/currentForecast" active-class="active" exact>-->
<!--          <a>Current Forecast</a>-->
<!--        </router-link>-->
<!--        <router-link class="nav-link col" to="/weekForecast" active-class="active" exact>-->
<!--          <a>5 day / 3 hour Forecast</a>-->
<!--        </router-link>-->
<!--      </ul>-->
<!--    </div>-->

        <v-tabs centered
                background-color="#fafafa"
                class="pa-0 ma-0" show-arrow="true" fixed-tabs>
          <v-tab to="/currentForecast" @click="this.$store.state.footerBarState = false">Current Forecast</v-tab>
          <v-tab to="/weekForecast" @click="this.$store.state.footerBarState = true">5 days / 3 Hours Forecast</v-tab>
        </v-tabs>

    <br>
  </v-container>
</template>

<script>
    import axios from 'axios'

    export default {

        data() {
            return {
                city: '',
                model: 'I\'m a text field',
                label: 'Enter city name',
                hint: 'For search press enter',
                placeholder: '',
                shaped: false,
                outlined: true,
                rounded: false,
                solo: false,
                singleLine: false,
                filled: false,
                clearable: false,
                persistentHint: false,
                loading: false,
                flat: false,
                counterEn: false,
                counter: 0,
                dense: false,
            }
        },

        methods: {
            getWeather() {
                axios.get('https://api.openweathermap.org/data/2.5/weather?q=' + this.city + '&appid=a19a29cd8a1bbd03355ecea93812d733')
                    .then(res => {
                        this.$store.commit('cityMutation', this.city);
                        this.$store.dispatch('setWeather', res.data);
                        this.city = '';
                      // eslint-disable-next-line no-console
                    }).catch(error => console.log(error));
                axios.get('https://api.openweathermap.org/data/2.5/forecast?q=' + this.city + '&appid=a19a29cd8a1bbd03355ecea93812d733')
                        .then(res => {
                            const data = res.data.list;
                            const index = [];
                            for(let key in data){
                                index.push(data[key]);
                            }
                          // eslint-disable-next-line no-console
                            this.$store.dispatch('setWeekWeather', index);
                        });
            }
        },
    }

</script>

<style scoped>
  #search {
    text-align: center;
    height: 50px;
    font-size: 1.5em;
  }
  v-row{
    color: inherit;
  }
  ul{
    padding-left: 0px !important;
  }
</style>
