<template>
    <div class="seen">
        <div v-if="getTemperature" class="temperature">
            <small class="desc">{{getCity}}</small>
            {{getTemperature}} °C
        </div>
        <div v-if="getIconLink">
            <img :src="getIconLink" alt="">
            <small class="desc">{{getDescription}}</small>
        </div>
        <br>
        <div class="row" v-if="getHumidity">
            <div class="col-4">
                <span>Humidity</span>
                <span>{{getHumidity}} %</span>
            </div>
            <div class="col-4">
                <span>Wind</span>
                <span>{{getWind}} km/h</span>
            </div>
            <div class="col-4">
                <span>Cloudiness</span>
                <span>{{getCloudiness}} %</span>
            </div>
        </div>
        <br>
        <div class="row" v-if="getSunrise">
            <div class="col-6">
                <img :src="this.$store.state.sunriseLink" alt="">
                <span>{{getSunrise}}</span>
            </div>
            <div class="col-6">
                <img :src="this.$store.state.sunsetLink" alt="">
                <span>{{getSunset}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        computed: {
            ...mapGetters([
                'getTemperature',
                'getCity',
                'getIconLink',
                'getDescription',
                'getHumidity',
                'getWind',
                'getCloudiness',
                'getSunrise',
                'getSunset'
            ]),
        },
    }
</script>

<style scoped>
    .seen {
        display: inline-block;
    }

    .temperature {
        font-size: 2.0em;
    }

    .desc {
        display: block;
    }

    #displayInfo {
        display: inline-flex;
    }

    .col-4 {
        display: grid;
    }

    #sun {
        display: inline-flex;
    }
</style>
