<template>
    <v-container>
        <div id="headerInfo" class="mb-5">
            {{getCity}}
        </div>
        <v-row>
            <v-col md="6" xs="12" class="mx-auto">
                <v-expansion-panels>
                    <v-expansion-panel
                            v-for="(item,i) in this.$store.getters.getActualDay"
                            :key="i"
                            class="panels"
                    >
                        <v-expansion-panel-header id="panel">
                            <v-row class="my-auto" no-gutters>
                                <v-col class="d-flex flex-column" cols="auto">
                                    <span class="font-weight-bold mr-5">{{formTime(item.dt)}}</span>
                                    <span class="font-weight-light">{{formatDate(item.dt)}}</span>
                                </v-col>
                                <v-col class="weather-icon-temp mx-auto">
                                    <div><img :src="getIconLink(item.weather[0].icon)" alt=""></div>
                                    <div>{{calculateTemp(item.main.temp)}}</div>
                                </v-col>
                                <v-col class="font-weight-bold mx-auto">
                                    {{item.weather[0].main}}
                                </v-col>
                                <v-col id="weather-cloudiness" class="text-left mx-auto">
                                    Cloudiness: {{item.clouds.all}}%
                                </v-col>
                            </v-row>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-row no-gutters class="my-3">
                                <v-col>
                                    Desc: {{item.weather[0].description}}
                                </v-col>
                                <v-col>
                                    Wind Speed: {{calculateWindSpeed(item.wind.speed)}} km/h
                                </v-col>
                            </v-row>
                            <v-row no-gutters class="my-3">
                                <v-col>
                                    Min. temperature: {{calculateTemp(item.main.temp_min)}}
                                </v-col>
                                <v-col>
                                    Pressure: {{item.main.pressure}} hPa
                                </v-col>
                            </v-row>
                            <v-row no-gutters class="my-3">
                                <v-col>
                                    Max. temperature: {{calculateTemp(item.main.temp_max)}}
                                </v-col>
                                <v-col>
                                    Description: {{item.weather[0].description}}
                                </v-col>
                            </v-row>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapGetters} from 'vuex'
    import moment from 'moment';


    export default {
        data() {
            return {}
        },
        computed: {
            ...mapGetters([
                'getCity',
                'getActualDay'
            ]),

        },
        methods: {
            getIconLink(payload) {
                return 'http://openweathermap.org/img/wn/' + payload + '.png';
            },
            formTime(payload) {
                return moment.unix(payload).format('HH:mm')
            },
            formatDate(payload) {
                return moment.unix(payload).format('DD/MM');
            },
            calculateTemp(payload) {
                return Math.round(payload - 272.15) + '°';
            },
            calculateWindSpeed(payload) {
                return Math.round(payload * 3.6);
            }
        },
    }
</script>
<style scoped>
    @media (min-width: 389px) {
        #weather-desc {
            flex-grow: 1;
        }
    }

    .row {
        align-items: center;
    }

    .skuska {
        justify-content: space-around;
    }

    .weekWeather {
        text-align: center;
        margin: 20px;
    }

    .panel {
        display: inline-block;
    }

    #panel:focus {
        outline: 0;
    }

    .panels {
        margin: 1px 0px;
    }

    #headerInfo {
        font-size: 2.0em;
    }

    .weather-main-info {
        display: contents;
    }

    .col {
        marging-top: 10px !important;
    }

    p {
        margin-bottom: 0.5em;
    }

    .weather-icon-temp {
        font-size: 1.7em;
        display: flex;
        align-items: center;
    }

    #weather-temp {
        min-width: 80px;
        font-size: 1.7em;
    }

    #weather-cloudiness {
        color: #878787;
        /*text-align: end;*/
    }

    .v-expansion-panel-content {
        text-align: left;
        margin-top: 1px;
        background-color: #F7F7F7;
        border-top: 1px solid #EBEBEB;
    }
</style>
