<template>
    <v-app>
        <v-app-bar app>
            <v-toolbar-title class="headline text-uppercase">
                <span>Weather</span>
                <span class="font-weight-light">Forecast</span>
            </v-toolbar-title>
        </v-app-bar>
        <v-content>
            <FindInput></FindInput>
            <router-view></router-view>
        </v-content>
        <v-footer id="footer" v-if="getfooterBarState">
          <BottomNavigation></BottomNavigation>
        </v-footer>
    </v-app>
</template>

<script>
    import FindInput from './components/FindInput.vue'
    import BottomNavigation from './components/BottomPagination.vue'
    import {mapGetters} from 'vuex';

    export default {
        name: 'App',
        components: {
            FindInput,
            BottomNavigation
        },
      computed:{
          ...mapGetters([
            'getfooterBarState',
          ])
      },
    }
</script>
<style>
    #app {
        font-family: 'Didact Gothic', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 20px;
    }

    #footer {
        background-color: #fafafa;
    }
</style>
